### C ###
# Prerequisites
*.d

# Object files
*.o

### Language files ###
*.mo

### macOS ###
# General
.DS_Store

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
